# Random Sampling with Python

## Random Sample:
A sample of n measurements selected from a population is said to be a random sample if every different sample of size n from the population has an equal probability of being selected. 


Let's try to make a random sample of 20 out of a population of 850 using Numpy.random and Pandas 

First start with importing the libraries

In [2]:
import numpy as np
import pandas as pd
import random

In [5]:
#now let's select a sample with Numpy.Random
np.random.choice(850, 20, replace = False)

array([609, 378,  67, 351, 193, 531, 340, 321, 689, 596, 113, 375, 666,
       242, 678, 326, 496,  74, 549, 806])

In [7]:
# Let's do the same with Pandas:
#in Pandas we first need to create a dataframe to collect the sample from:
df = pd.DataFrame(np.random.choice(850, 850))
df.head()

     0
0  529
1  251
2  343
3  337
4  382

In [8]:
#Now let's collect a random sample from this. 
df.sample(20, replace=True)

       0
151  341
112  223
356  492
419   17
814  709
787  419
17   190
497  787
161  660
301  243
17   190
324  251
5     86
520  147
338  310
779  724
712  808
747  558
607  671
626  496