# calculate the percentiles for grouped data (using LaTex)

In [1]:
#import the libraries
import re
import pandas as pd
import latex

Now let's remake the dataframe page 85 of the book **'Statistical Methods and Data Analysis'** (Ott&Longnecker)

In [2]:
df = pd.DataFrame({'Class': [1,2,3,4,5,6,7,8,9,10,11], 
                   'Class Interval': ['16.25-18.75', '18.75-21.25', '21.25-23.75', 
                                      '23.75-26.25', '26.25-28.75', '28.75-31.25',
                                      '31.25-33.75', '33.75-36.25', '36.25-38.75',
                                      '38.75-41.25', '41.25-43.75'],
                  '$f_i$' : [2,7,7,14,17,24,11,11,3,3,1],
                  'Cumulative $f_i$': [2,9,16,30,47,71,82,93,96,99,100],
                  '$f_i/n$' : [.02,.07,.07,.14,.17,.24,.11,.11,.03,.03,.01],
                  'Cumulative $f_i/n$' : [.02, .09,.16,.30,.47,.71,.82,.93,.96,.99,1.00]})
df

    Class Class Interval  $f_i$  Cumulative $f_i$  $f_i/n$  Cumulative $f_i/n$
0       1    16.25-18.75      2                 2     0.02                0.02
1       2    18.75-21.25      7                 9     0.07                0.09
2       3    21.25-23.75      7                16     0.07                0.16
3       4    23.75-26.25     14                30     0.14                0.30
4       5    26.25-28.75     17                47     0.17                0.47
5       6    28.75-31.25     24                71     0.24                0.71
6       7    31.25-33.75     11                82     0.11                0.82
7       8    33.75-36.25     11                93     0.11                0.93
8       9    36.25-38.75      3                96     0.03                0.96
9      10    38.75-41.25      3                99     0.03                0.99
10     11    41.25-43.75      1               100     0.01                1.00

## Assignment:
Calculate the 90th percentile for grouped data of the dataframe 'df'

The formula for this --> percentile = $P$ = $L$ + $\frac w{f_p}$ $\left({P}n - {cf_b}\right)$

where: 
- $P$ = percentile of interest
- $L$ = lower limit of th class interval that includes the percentile of interest
- $n$ = total frequency
- $cf_b$ = cumulative frequency for all class intervals before the percentile class
- $f_p$ = frequency of the class interval that includes the percentile of interest
- $w$ = interval width

## Solution

#because the 8th class is the class that exceeds the .9 (=90%), the solution is:

- $P$ = 90
- $L$ = 33.75
- $n$ = 100
- $cf_b$ = 82
- $f_p$ = 11
- $w$ = 2.5

With this information, we can fill in the formula

percentile = $P$ = $L$ + $\frac w{f_p}$ $\left({P}n - {cf_b}\right)$ = $P_{90}$ = 33.75 + $\frac {2.5}{11}$ $\left({.9(100)} - {82}\right)$

Thus:
33.75 + 0.227(8) = 33.75 + 1.818 = 35.568

Conclusion in this df, 90% has less than or equal to 35 ticks and 10% has 36 or more ticks.